
<app-header></app-header>
<main>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" *ngFor="let item of listProperties; let i = index">
                    <div class="card shadow-sm">
                        <img height="280px" [src]="houseImageUrl[i]?.urls.regular" alt="Imagen de la propiedad">

                        <div class="card-body">
                            <h4>{{item.name}}</h4>
                            <p class="card-text">{{item.description}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onSelect(item)" data-bs-toggle="modal" data-bs-target="#exampleModal">View</button>
                                </div>
                                <small>{{item.amount}} $us</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<app-item [property] = selectProperty></app-item>