

<div class="container mt-5" *ngIf="dataJson">
    <div class="row">
        <!-- Lista de chats -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Chats
                </div>
                <ul class="list-group list-group-flush" id="chat-list">
                    <ul class="list-group">
                        <li *ngFor="let data of dataJson" class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="/chat/{{data.uuid}}">{{ data.name }}</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <!-- Panel de conversación -->
        <div class="col-md-8" *ngIf="messagesJson">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    Conversación
                </div>
                <div class="card-body" id="message-list">
                    <div class="card-body" id="message-list">
                        <div *ngFor="let message of messagesJson">
                            <div *ngIf="message.userId === 'b04b168e-922c-40f1-8f31-1833f493d1f9'; else msgReceipt">
                                <div class="d-flex justify-content-start"><p class="bg-light px-4 py-2 rounded text-dark">{{message.message}}</p></div>
                              </div>
                            <ng-template #msgReceipt>
                                <div class="d-flex justify-content-end"><p class="bg-primary px-4 py-2 rounded text-white">{{message.message}}</p></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
                        <div class="input-group">
                            <textarea class="form-control" formControlName="message" placeholder="Escribe un mensaje" id="message-input"></textarea>
                            <button class="btn btn-success" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>