<app-header></app-header>
<main>
  <div class="container mt-5">
    <div class="row">
      <!-- Lista de chats -->
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="card-header bg-primary text-white">
            Chats Anfitrion
          </div>
          <ul class="list-group list-group-flush" id="chat-list" *ngIf="!loadingHost">
            <ul class="list-group">
              <li *ngIf="chatsHost.length === 0" class="list-group-item d-flex justify-content-between align-items-center">
                No hay chats disponibles
              </li>
              <li
                *ngFor="let data of chatsHost"
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <a href="/chat/{{data.uuid}}">{{ data.name }}</a>
              </li>
            </ul>
          </ul>
          <div class="d-flex justify-content-center p-2" *ngIf="loadingHost">
            Cargando...
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-dark text-white">
            Chats Huesped
          </div>
          <ul class="list-group list-group-flush" id="chat-list" *ngIf="!loadingGuest">
            <ul class="list-group">
              <li *ngIf="chatsGuest.length === 0" class="list-group-item d-flex justify-content-between align-items-center">
                No hay chats disponibles
              </li>
              <li
                *ngFor="let data of chatsGuest"
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <a href="/chat/{{data.uuid}}">{{ data.name }}</a>
              </li>
            </ul>
          </ul>
          <div class="d-flex justify-content-center p-2" *ngIf="loadingGuest">
            Cargando...
          </div>
        </div>
      </div>

      <!-- Panel de conversación -->
      <div class="col-md-8" *ngIf="messagesJson">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            Conversación
          </div>
          <div class="card-body" id="message-list">
            <div class="card-body" id="message-list">
              <div *ngFor="let message of messagesJson">
                <div
                  *ngIf="message.userId !== user.id; else msgReceipt"
                >
                  <div class="d-flex justify-content-start">
                    <p class="bg-light px-4 py-2 rounded text-dark">
                      {{message.message}}
                    </p>
                  </div>
                </div>
                <ng-template #msgReceipt>
                  <div class="d-flex justify-content-end">
                    <p class="bg-primary px-4 py-2 rounded text-white">
                      {{message.message}}
                    </p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
              <div class="input-group">
                <textarea
                  class="form-control"
                  formControlName="message"
                  placeholder="Escribe un mensaje"
                  id="message-input"
                ></textarea>
                <button class="btn btn-success" type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="text-center mt-5" *ngIf="loading">
    <div class="spinner-border text-primary" role="status"></div>
    <p class="mt-2">Cargando...</p>
  </div> -->
</main>
